# Terraform state & secrets
*.tfstate
*.tfstate.*
*.tfvars
.terraform/
.terraform.lock.hcl

# Python / cache
.gradio/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.pycache/
__pycache__/
.*cache/
.*venv/
.venv/
venv/

# Sensitive logs or temp files
*.log
*.tmp

# OS meta
.DS_Store
Thumbs.db

# Any local env configs
bootstrap/**/terraform.tfstate*
